@charset "UTF-8";
html {
    scroll-behavior: smooth;
}
body {
    background-color: #dbdbdb;
     
 }

.container {
    max-width: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}
li {
    list-style: none;
}
.section-title {
    display: inline-block;
    font-size: 2rem;
    margin-bottom: 40px;
    border-bottom: solid 5px #38b6ff;
    margin-top: 20px;
}
.wrapper {
    max-width: 960px;
    margin: 0 auto 100px;
    padding: 0 4%;
    text-align: center;
}
/* Header */



.tittle {  
    display: flex; 
}

.tittle img {
    width: 60%;
    height: 60%;
    
   
}

.site-header {
  position: center;  
  margin-top: -40px;  
}
.site-header a {
    color: black; 
}

.site-header__wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem; }
    
      .site-header__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0; } 
  
    .nav__wrapper {
      display: flex;
      
    
    } 
   

    .nav__wrapper {  
      margin-top: 20px;
      text-align: center;
      transition: transform 0.3s ease-out, opacity 0.3s ease-out; 
      
    }

    .nav__wrapper.active {
        visibility: visible;
        } 
   
  .nav__item a {
    display: block;
    padding: 1.5rem 1rem; 
    color: black;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.nav__item a:hover {
 color: #38b6ff;
}
   
  .nav__toggle {
    display: none; }
   
      .nav__toggle {
        display: block;
        position: absolute;
        right: 2rem;
        top: 1rem; 
    } 
/* Header end */

/* main visual */
#mainvisual {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: -100px;
   
}
/* main visual end */

/* about */
#about .content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 30px;
}

#about .text {
    text-align: left;
}
/* about end */

/* blog */
#blog {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}

#blog ul {
display: flex;
justify-content: space-between;
}
#blog li { 
   width: calc(33.333% - 20px);
   margin-bottom: 30px;
   
   text-align: center;
}

#blog img {
    width: 100%; 
    height: auto;
    display: block;    
}

.content-title {
    display: block;
    padding: 1.5rem 1rem; 
    color: black;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    
}

.content-title a {
    color: black; 
   
    transition: color 0.3s ease, background-color 0.3s ease;
}

.content-title a:hover {
   color: #38b6ff;
  
}


/* blog end */


#contact {
   
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

input {
    width: 100%;
    padding: 8px;
    border: 2px solid black;
    border-radius: 5px;
}

button {
    background-color: #38b6ff;
    color: black;
    
    
    border-radius: 5px;
    cursor: pointer;
    border: 2px  black;
    margin-top: 30px;
    width: 20%;
   
    margin-bottom: 50px;
}

button:hover {
    background-color: #007acc;
}


footer {
    position: relative;
    width: 100%;
    background-color: #38b6ff;
    text-align: center;
}


@media (max-width: 800px){
 .nav__wrapper {
   margin-top: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
 }

 img {
    max-width: 200%;
    height: auto;
}

#about .content {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
}
#about img {
    margin: 0 auto 20px;
}

#blog ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#blog li {
    width: 90%; 
}

.section-title {
    text-align: justify;
}
}










